DATABASE_URL="postgresql://user:password@host:5432/dbname"

TRUSTED_ORIGINS="http://localhost:5173"

DOMAIN="yourdomain.com"
DOMAIN_LOCAL="localhost"

PUBLIC_DASHBOARD_URL="https://yourdomain.com"
PUBLIC_DASHBOARD_URL_LOCAL="http://localhost:5173"

PUBLIC_API_URL="https://api.yourdomain.com"
PUBLIC_API_URL_LOCAL="http://localhost:3000"

# notifs
RESEND_API_KEY=""

META_CLIENT_ID=""
META_CLIENT_SECRET=""

ENCRYPTION_KEY=""

DEEPSEEK_API_KEY=""

# Storage config
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_BUCKET_NAME=""
SUPABASE_SERVICE_KEY=""

LANGSMITH_TRACING=false # set to true if contributing
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

INIT_CHECKPOINTER="false" # set to "true" if setting up the first time to provision the checkpointer
